fastapi
uvicorn
pydantic
python-multipart

joblib
pandas
numpy
librosa
xgboost==2.0.3

tensorflow==2.15.0

python-jose[cryptography]
sqlalchemy
passlib[bcrypt]
pyjwt
fitbit
requests
python-dotenv
google-auth
huggingface_hub