fastapi
uvicorn
pydantic
python-multipart

joblib
pandas
numpy
librosa
xgboost
tensorflow-cpu==2.15.0

transformers
sqlalchemy
passlib[bcrypt]
pyjwt
fitbit
requests
python-dotenv
google-auth
huggingface_hub