fastapi
uvicorn
pydantic
python-multipart
torch
joblib
pandas
numpy
librosa
xgboost
tensorflow
transformers
sqlalchemy
passlib[bcrypt]
pyjwt
fitbit
requests
python-dotenv
google-auth
